<a class="btn btn-danger" routerLink="/admin/article-new">+</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">
      <a [routerLink]="" (click)="sortTitle()">
        Title <span *ngIf="sort === 'title' && asc">&darr;</span><span *ngIf="sort === 'title' && !asc">&uarr;</span>
      </a>
    </th>
    <th scope="col">
      <a [routerLink]="" (click)="sortCreatedAt()">
        Created At <span *ngIf="sort === 'createdAt' && asc">&darr;</span><span *ngIf="sort === 'createdAt' && !asc">&uarr;</span>
      </a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articleList">
    <th scope="row">
      <a href="#" [routerLink]="['/article', article.id]">
        {{ article.title }}
      </a>
    </th>
    <td>{{ article.createdAt | date: 'dd-MM-yyyy HH:mm' }}</td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" [routerLink]="" (click)="prevPage()">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>
