<form action="" (ngSubmit)="create()">
  <div class="form-group" [ngClass]="{
                'has-error' : title.errors
                  && (title.touched || title.dirty)
              }">
    <label for="title">Title</label>
    <input type="text" id="title" [formControl]="title" class="form-control">
    <div class="help-block" *ngIf="title.errors &&
                  (title.touched || title.dirty)">
      <div class="form-text text-danger" *ngIf="title.errors?.required">
        Title is required
      </div>
    </div>
  </div>

  <div class="form-group" [ngClass]="{
                'has-error' : body.errors
                  && (body.touched || body.dirty)
              }">
    <label for="body">Body</label>
    <textarea id="body" [formControl]="body" class="form-control"></textarea>
    <div class="help-block" *ngIf="body.errors &&
                  (body.touched || body.dirty)">
      <div class="form-text text-danger" *ngIf="body.errors?.required">
        Body is required
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="title.errors || body.errors">Save</button>
</form>
